<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: auto;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid black;
        }
        th {
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <h2>게시판</h2>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성일자</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.date | formatPostDate }}</td>
                <td>
                    <form method="post" action="/delete/{{ loop.index }}">
                        <button type="submit">삭제</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/write">글 작성</a>
</body>
</html>