<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니양</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">사용자목록</a></li>
            <li><a href="/stores">매장정보</a></li>
            <li><a href="/orders">주문목록</a></li>
            <li><a href="/items">상품목록</a></li>
            <li><a href="/orderitems">장바구니</a></li>
            <li><a href="#">Log in</a></li> 
        </ul>
    </nav>
    <h1>장바구니</h1>
    <table>
        <input type="text" name="name">
        <button type="submit">검색</button>
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr class="button" type="button">
            {% for header in headers %}
                <td><a href="/orderitemdetail/{{ row.ID }}">{{ row[header] }}</a></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <a href="/">뒤로가기</a>
</body>
</html>