<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객정보양</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">사용자목록</a></li>
            <li><a href="/stores">매장정보</a></li>
            <li><a href="/orders">주문목록</a></li>
            <li><a href="/items">상품목록</a></li>
            <li><a href="/orderitems">장바구니</a></li>
            <li><a href="#">Log in</a></li> 
        </ul>
    </nav>
    <h1>고객정보</h1>
    <table>
        <tr>
            {% for firstheader in firstheaders %}
                <th>{{ firstheader }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr class="button" type="button">
            {% for firstheader in firstheaders %}
                <td>{{ row[firstheader] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h2>주문 정보</h2>
    <table>
        <tr>
            {% for secondheader in secondheaders %}
                <th>{{ secondheader }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr class="button" type="button">
            {% for secondheader in secondheaders %}
                <td>{{ row[secondheader] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <a href="/">뒤로가기</a>
</body>
</html>