<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <h1>사용자 정보</h1>
    <table>
        <input type="text" name="name">
        <button type="submit">검색</button>
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr class="button" type="button">
            {% for header in headers %}
                <td><a href="/user/{{ row.id }}">{{ row[header] }}</a></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <a href="/">뒤로가기</a>
</body>
</html>